.tabs .tabs-list {
  display: flex;
  flex-direction: row;
  gap: 7px;
  width: 100%;
  overflow-x: auto;
  justify-content: flex-start;
}

.tabs .tabs-list button {
  display: flex;
  min-width: fit-content;
  font-size: 1rem;
  padding-inline: unset;
  padding: 0 0.75rem;
  font-weight: 500;
  text-align: center;
  text-transform: none;
  background: none;
  outline: none;
  white-space: nowrap;
  justify-content: center;
  line-height: normal;
}

.tabs.columns p {
  line-height: 1.5rem;
}

.tabs.columns > div {
  width: unset;
}

.tabs .tabs-list button p {
  max-width: fit-content;
  color: rgb(23 23 37);
  opacity: 0.6;
  padding-bottom: 4px;
  border-bottom: 3px transparent;
}

.tabs.columns .tabs-tab p {
  font-size:1rem;
}

.tabs .tabs-list button[aria-selected="true"] p {
  opacity: 1;
  border-bottom: 3px solid rgb(255 106 19);
  transition: width 0.3s ease-out 0s, left 0.3s ease 0s;
}

.tabs .tabs-list button[aria-selected="false"]:hover,
.tabs .tabs-list button[aria-selected="false"]:focus {
  cursor: pointer;
}

.tabs .tabs-list button[aria-selected="false"]:hover p,
.tabs .tabs-list button[aria-selected="false"]:focus p {
  opacity: 0.8;
}

.tabs .tabs-panel {
  padding: 0 16px;
  overflow: auto;
}

.tabs .tabs-panel[aria-hidden="true"] {
  display: none;
}

.rewards .tabs .tabs-panel{
  background-color: #171725;
  color: white;
}

.rewards .section .tabs-container{
  padding: 0;
  margin: 0;
}

.rewards .tabs-container .tabs .tabs-panel p:first-of-type{
  display: none;
}

.rewards .tabs-container .tabs .tabs-panel p:last-of-type{
  display: flex;
  justify-content: center;
  width: 100%;
}

.rewards .tabs-container .tabs .tabs-panel picture{
  width: 100%;
}

.rewards .tabs-container .tabs .tabs-panel picture img{
  margin-left: 8.3333%;
  width: 83.3333%;
}

.rewards main .section {
  padding: 0;
  margin: 0;
}

.rewards .tabs-container .tabs .tabs-panel{
  padding: 0;
}

.rewards .tabs-container .default-content-wrapper h2{
  font-size: 2.25rem;
  line-height: 2.688rem;
  font-weight: 700;
  text-align: center;
}

.rewards .tabs-container .tabs .tabs-panel h2{
  margin-top: 50px;
  font-size: 1.802em;
}


@media (width >= 768px) {
  .tabs.accordion .tabs-list {
    justify-content: center;
  }

  .rewards .tabs-container .tabs .tabs-panel p:last-of-type{
    display: none;
  }
  
  .rewards .tabs-container .tabs .tabs-panel p:first-of-type{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .rewards .tabs-container .tabs .tabs-panel picture{
    width: 100%;
    margin-bottom: 50px;
  }
  
  .rewards .tabs-container .tabs .tabs-panel picture img{
    margin-left: 16.6667%;
    width: 66.6667%;
  }
  
  .rewards main .section {
    padding: 0;
    margin: 0;
  }
  
  .rewards .tabs-container .tabs .tabs-panel{
    padding: 0;
  }

  .rewards .tabs-container .tabs .tabs-panel h2{
    font-size: 1.5rem;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 50px;
  }

}

@media (width >= 1200px) {
  .tabs .tabs-list {
    justify-content: center;
  }
}
