.embed {
    width: 100%;
    text-align: center;
    max-width: 400px;
    margin: 0 auto 32px;

    &.youtube, &.vimeo {
        min-height: 280px;
    }
}

.embed:has:not(.youtube) > div,
.embed:has:not(.vimeo) > div{
    display: flex;
    justify-content: center;
}

.embed.embed-twitter .twitter-tweet-rendered {
    margin-left: auto;
    margin-right: auto;

    /* reserve an approximate space to avoid extensive layout shifts */
    aspect-ratio: 4/3;
}

.embed .embed-placeholder {
    width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
}

.embed.embed-instagram {
    display: flex;
    justify-content: center;
}

.embed.embed-facebook {
    max-width: 560px;
}


lite-vimeo, lite-youtube {
    container: playbutton / inline-size;
    background: var(--sling-gradient);
    position: relative;
    display: block;
    contain: content;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    max-width: 560px;
    aspect-ratio: 16 / 9;
    margin: 0 auto;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        background-image: linear-gradient(180deg, rgb(0 0 0 / 50%) 0%, rgb(0 0 0 / 0%) 20%, rgb(0 0 0 / 0%) 80%, rgb(0 0 0 / 30%) 100%);
        background-position: top;
        background-repeat: repeat-x;
        height: 100%;
        width: 100%;
        transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
    }

    > iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 0;
    }

    > .ltv-playbtn, > .lty-playbtn {
        --size: clamp(60px, 14cqw, 110px);

        width: var(--size);
        height: var(--size);
        position: absolute;
        cursor: pointer;
        transform: translate3d(-50%, -50%, 0);
        top: 50%;
        left: 50%;
        z-index: 1;
        background-color: transparent;
        background-image: url('/aemedge/icons/play-button.svg');
        transition: all .4s;
        border: none;
        min-width: unset;
    }

    &:hover {
        > .ltv-playbtn, > .lty-playbtn {
            opacity: .5;
        }
    }

    &::after {
        content: "";
        display: block;
        padding-bottom: calc(100% / (16 / 9));
    }

    &.lyt-activated, &.ltv-activated {
        cursor: unset;

        &::before, > .ltv-playbtn, > .lty-playbtn {
            opacity: 0;
            pointer-events: none;
        }
    }
}

.lyt-visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@media (width >= 768px) {
    .embed {
        max-width: 100%;
    }
}
