.blog-breadcrumb-wrapper {
    width: 100%;
}

.block.blog-breadcrumb {
    background: 0;
    color: #454550;
    font-size: 18px;
    margin: 0 auto;
    padding: 12px 10%;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.blog-breadcrumb .blog-breadcrumb-active-article {
font-weight: 700;

}

a.blog-breadcrumb-link {
    color: #9fa0a7;
}

.blog-breadcrumb span.icon-fw-arrow {
    width: unset;
    height: unset;
    margin: 0 10px;
    display: inline-block;
    font: normal normal normal 20px / 1 var(--font-awesome);
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.blog-breadcrumb span.icon-fw-arrow::before {
    content: "\f105";
}

@media (width >= 768px) {
 .block.blog-breadcrumb {
     padding-bottom: 24px;
 }
}
