.blog-breadcrumb-wrapper {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block.blog-breadcrumb {
    background: 0;
    color: #454550;
    font-size: 18px;
    overflow: hidden;
    margin: 0 auto;
    padding: 32px 10%;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    display: flex;
}