/* stylelint-disable no-descending-specificity */
.plan-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0;
    background: rgb(255 255 255);
    box-shadow: rgba(0 0 0 20%) 0 0 8px;
    border-radius: 8px;
    margin-bottom: 16px;
    text-align: center;
}

.plan-offer .card-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 16px;
}

.plan-offer .card.single {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 1px 0 32px 1px;
    padding: 1px;
    box-shadow: rgba(0 0 0 0.1) 0 0 20px;
    border-radius: 4px;
    margin-bottom: 32px;
    width: 347px;
}

.plan-offer .card.single.orange {
    background: linear-gradient(to right, rgb(255 163 0), rgb(255 208 60));
    color: rgb(23 23 37);
}

.plan-offer .card.single.blue {
    background: linear-gradient(to right, rgb(0 50 175) 0.01%, rgb(0 91 255) 100%);
    color: white;
}

.plan-offer .card.combo {
    margin: 0 auto;
    
    /* width: 734px; */

    width: 80%;
    display: flex;
    border-radius: 4px;
    color: rgb(23 23 37);
    height: 180px;
    background: linear-gradient(87.61deg, rgb(23 23 37) 0%, rgb(0 50 175) 100%) rgb(255 255 255);
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.plan-offer .card.single .card-header {
    justify-content: space-between;
    padding: 16px;
    border-radius: 4px 4px 0 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.plan-offer .card.single.orange .card-header {
    background: linear-gradient(to right, rgb(255 163 0), rgb(255 208 60));
    color: black;
}

.plan-offer .card.single.blue .card-header {
    background: linear-gradient(to right, rgb(0 50 175) 0.01%, rgb(0 91 255) 100%);
    color: white;
}

.plan-offer .card.combo .card-header {
    color: white;
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
}

.plan-offer .card.combo .card-body {
    background-color: unset;
}

.plan-offer .card.combo .card-body .channels,
.plan-offer .card.combo .card-body .stream-devices,
.plan-offer .card.combo .card-body .compare.button {
    display: none;
}

.plan-offer .card.single .card-header .price {
    text-align: end;
}

.plan-offer .card.combo .card-header .price {
    /* display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center; */

    align-self: center;
}

.plan-offer .card .card-header .base-price {
    font-size: 18px;
    font-weight: 600;
    opacity: 0.6;
    text-decoration: line-through;
}

.plan-offer .card .card-header .offer-price {
    font-size: 18px;
    font-weight: 600;
}

.plan-offer .card .card-header .discount-price {
    font-size: unset;
    font-weight: unset;
}

.plan-offer .card.single .card-body {
    overflow: hidden;
    background-color: white;
    color: black;
    position: relative;
    width: 343px;
    height: 100%;
    border-radius: 4px;
    margin: 1px 0 2px 1px;
}

.plan-offer .card.single .channels span {
    position: relative;
    width: 93px;
    height: 93px;
    border-radius: 50%;
    background: rgb(255 255 255);
    box-shadow: rgba(0 0 0 / 20%) 0 0 8px;
    margin-right: 8px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan-offer .card.single span img {
    width: 60px;
    object-fit: cover;
}

.plan-offer .card.single .carousel-slide-image {
    justify-content: center;
    align-items: center;
}

.plan-offer .card.single .carousel-slide-image p {
    margin: 0;
    padding: 0;
}

.plan-offer .card.single .stream-devices {
    position: relative;
    display: flex;
    line-height: normal;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}