/* main .hero-container > div {
  max-width: unset;
} */

main .hero-container {
  padding: 0;
}

.hero-container h1 {
  text-align: center;
}

.hero {
  position: relative;
  padding: 32px;
  background: #0d66d0;
}

.blog-article .hero {
  min-height: 300px;
  background: transparent;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.category .hero > div > div {
  width: 80%;
  margin: 0 auto;
}

.hero picture {
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.blog-article .hero picture {
  position: absolute;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero picture.desktop {
  display: none;
}

@media (width >= 768px) {
 .category .hero > div > div {
    width: 33%;
  }
}

@media (width >= 992px) {
  .hero picture.mobile {
    display: none;
  }

  .hero picture.desktop {
    display: block;
  }
}
