body.modal-open {
    overflow: hidden;
  }

  .modal dialog {
    --dialog-border-radius: 16px;

    overscroll-behavior: none;
    border: 1px solid var(--dark-color);
    border-radius: var(--dialog-border-radius);
    width: 100vw;
  }

  .modal dialog .modal-content {
    overflow-y: auto;
    overscroll-behavior: none;
    max-height: calc(100dvh - 60px);
  }

  .modal-content .comparison-table .comparison-table-content .orange-rows .orange-header{
    background-color: rgb(255 152 0);
    padding: 0 10px;
    display: flex;
    align-items: center;
    min-height: 3rem;
  }
  
  .modal-content .comparison-table .comparison-table-content .header-row :nth-child(1){
    width: 40%;
  }

  .modal-content .comparison-table .comparison-table-content .header-row{
    background-color: white;
    min-height: 3rem;
  }

  .modal-content .comparison-table .comparison-table-content .header-row div{
    display: flex; 
    width: 20%;
    justify-content: center;
  }


  .modal-content .comparison-table .comparison-table-content .header-row div .price .base-price{
    opacity: 0.5;
  }

  .modal-content .comparison-table .comparison-table-content .blue-rows .blue-header{
    background-color:  rgb(0 50 175);
    color: white;
    padding: 0 10px;
    display: flex;
    align-items: center;
    min-height: 3rem;
  }

  .modal-content .comparison-table .comparison-table-content .common-rows .combo-header{
    background-color: black;
    color: white;
    display: flex;
    padding: 0 10px;
    align-items: center;
    min-height: 3rem;
  }

  .price{
    display: flex;
    flex-direction: column;
  }

  .channel-div {
    padding: 0 10px;
    border-bottom:  1px solid rgba(69 69 80 / 20%);
  }

  .channel-div span {
    width: 20%;
    height: 15px;
    text-align: center;
  }

  .modal-content h2 {
    text-align: center;
  }

  .modal-content p {
    text-align: center;
  }

  .zipcode-wrapper .zipcode {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .zipcode-wrapper .zipcode .error-message{
    display: none;
  }

  .header-row.sticky{
    position: sticky;
    top: -3px;
  }

  .modal-content .comparison-table .comparison-table-content .orange-rows .orange-header.sticky, 
  .modal-content .comparison-table .comparison-table-content .blue-rows .blue-header.sticky, .modal-content .comparison-table .comparison-table-content .common-rows .combo-header.sticky{
    position: sticky;
    top: 3.5em;
    z-index: 999;
  }

.close-button-div{
  background-color: white;
  height: 3rem;
}

  @media (width >= 1024px) {
    .modal dialog {
      padding: 0;
      width: 1000px;
      max-width: calc(-200px + 100vw);
      margin-top: 100px;
      max-height: 80%;
    }

    .channel-div {
      padding: 0 70px;
      border-bottom:  1px solid rgba(69 69 80 / 20%);
    }

    .channel-div span {
      width: 20%;
    }

    .modal-content .comparison-table .comparison-table-content .orange-rows .orange-header, .modal-content .comparison-table .comparison-table-content .common-rows .combo-header, .modal-content .comparison-table .comparison-table-content .blue-rows .blue-header{
      padding: 0 70px;
    }

    .modal-content .comparison-table .comparison-table-content .header-row div .price .offer-price{
      margin-left: 30px;
    }

    .modal-content .comparison-table .comparison-table-content .orange-rows .orange-header.sticky, 
    .modal-content .comparison-table .comparison-table-content .blue-rows .blue-header.sticky, .modal-content .comparison-table .comparison-table-content .common-rows .combo-header.sticky{
      top: 2em;
    }
    
    .modal-content .comparison-table .comparison-table-content .header-row{
      padding: 0 70px;
    }

    .modal dialog .modal-content {
      max-height: calc(100vh - 90px);
    }
  }

  .modal dialog::backdrop {
    background-color: rgb(0 0 0 / 50%);
  }

  .modal .close-button {
   all:unset;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    border-radius: 0 var(--dialog-border-radius) 0 0;
    background-color: unset;
    text-overflow: clip;
    margin: 0;
    border: none;
    padding: 14px 16px;
  }

  .modal .close-button img{
    height: 20px;
    width: 20px;
   }


  .modal dialog .section {
    padding: 0;
  }
