.table {
  width: 100%;
  overflow-x: auto;
}

.table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: var(--body-font-size-xs);

  th, td {
    padding: 0 6px;
  }

  thead tr {
    border-top: 2px solid;
    border-bottom: 2px solid;
  }

  td:not([data-align="right"], [data-align="justify"], [data-align="justify"]) {
    text-align: center;
  }
}


/* bordered variant */
.table.bordered table th,
.table.bordered table td { /* stylelint-disable-line */
  border: 1px solid;
}


.table:not(.playoffs, .schedule) table tbody tr {
  border-bottom: 1px solid;
}

/* no header variant */
.table.no-header table tbody tr {
  border-top: 1px solid;
}

.schedule.table table thead tr {
  background-color: rgb(0 30 120);
  border-color: rgb(0 30 120);
  color: rgb(255 208 60);
}

.playoffs.table table tbody tr td p a.button.text {
  padding: 0;
  display: inline;
}

.playoffs.table table thead tr {
  background-color: var(--dark-rock-candy);
  border-color: var(--dark-rock-candy);
  color: var(--clr-white);

}

/* striped variant */
.table.striped tbody tr:nth-child(odd) {
  background-color: var(--light-grey-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.schedule.table table .lightgrey {
  background-color: var(--light-grey-color);
}

.schedule.table table .single-column-row {
  background-color: var(--dark-color);
  width: 100%;
  text-align: center;
}

.playoffs.table table .single-column-row.lightgrey td, .schedule.table table .single-column-row.lightgrey td {
  background-color: var(--dark-color);

}

.schedule.table p,
.playoffs.table p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 2px;
  margin-bottom: 5px;
}

.blog-article > main div.section.table-container {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

.playoffs.table,
.schedule.table {
  overflow-x: hidden;
}

.playoffs.table table,
.schedule.table table {
  table-layout: fixed;
}

@media (width >= 768px) {
  .table table {
    font-size: var(--body-font-size-s);
  }

  .blog-article > main div.section.table-container {
    padding: unset;
    width: unset;
    margin-left: auto;
    margin-right: auto;
  }

  .playoffs.table, .schedule.table{
    margin-left: 8px;
    margin-bottom: 48px;
  }
}

@media (width >= 1024px) {
  .blog-article > main div.section.table-container .table-wrapper {
    max-width: 1168px;
  }
}
