.table {
  width: 100%;
  overflow-x: auto;
}

.table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: var(--body-font-size-xs);
}

@media (width >= 768px) {
  .table table {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 992px) {
  .table table {
    font-size: var(--body-font-size-m);
  }
}

.table table thead tr {
  border-top: 2px solid;
  border-bottom: 2px solid;
}

.table table tbody tr {
  border-bottom: 1px solid;
}

.table table th {
  font-weight: 700;
}

.table table th,
.table table td {
  padding: 8px 16px;
  text-align: left;
}

/* no header variant */
.table.no-header table tbody tr {
  border-top: 1px solid;
}

.schedule.table table thead tr {
  background-color: rgb(0 30 120 );
  color: rgb(255 208 60);
}

.schedule.table table thead tr,.schedule.table table tbody tr, .schedule table tbody td, .schedule table thead tr th {
  border: none; 
  text-align: center;
}

.playoff.table table thead tr{
  background-color: rgb(84 172 210);
  color: white;
}


.playoff.table table thead tr,.playoff.table table tbody tr, .playoff table tbody td, .playoff table thead tr th {
  border: none; 
  text-align: center;
  text-wrap: nowrap;
}

/* striped variant */
.table.striped tbody tr:nth-child(odd) {
  background-color: var(--overlay-background-color);
}

/* bordered variant */
.table.bordered table th,
.table.bordered table td {
  border: 1px solid;
}


/* new code */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.schedule.table, .playoff.table {
  width: 100%;
  overflow-x: auto;
}

.schedule.table table .lightgrey {
  background-color: var(--light-grey-color);
}

.schedule.table table .single-column-row{
  background-color: var(--dark-color);
  width: 100%;
  text-align: center;
}

.playoff.table table tbody tr td:not(:nth-child(4)) {
  background-color: var(--light-grey-color);
}

.schedule.table .single-column-row.lightgrey td{
  text-align: left;
}

.playoff.table table .single-column-row.lightgrey td{
  background-color: var(--dark-color);
}



.schedule.table p, dl, ol, ul, pre, blockquote {
margin-top: 2px;
margin-bottom: 5px;
}




.schedule {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 16px;
}



div.content-details-wrapper div.default-content-wrapper ,div.section.table-container div.default-content-wrapper{
  text-align: center;
}

@media (width >= 600px) {
  .schedule.table table {
    font-size: var(--body-font-size-xs);
  }
}

@media (width >= 900px) {
  div.section.table-container{
    max-width: 1138px;
  }

  div.table-wrapper{
      display: flex;
      justify-content: center;

  }

  div.schedule.table.block{
      display: flex;
      justify-content: center;
      width: 66%;
  }

  .schedule.table table {
      width: 100%;
      border-collapse: collapse;
      font-size: var(--body-font-size-xs);
    }
}

/* playoff table code */

@media (width >= 900px) {
  div.playoff.table.block{
      display: flex;
      justify-content: center;
      width: 66%;
  }

  .playoff.table table {
      width: 100%;
      border-collapse: collapse;
      font-size: var(--body-font-size-xs);
    }
}
