.table {
  width: 100%;
  overflow-x: auto;
}

.table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: var(--body-font-size-xs);
}

@media (width >= 768px) {
  .table table {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 992px) {
  .table table {
    font-size: var(--body-font-size-m);
  }
}

.table table thead tr {
  border-top: 2px solid;
  border-bottom: 2px solid;
}

.table table tbody tr {
  border-bottom: 1px solid;
}

.table table th {
  font-weight: 700;
}

.table table th,
.table table td {
  padding: 8px 16px;
  text-align: left;
}

/* no header variant */
.table.no-header table tbody tr {
  border-top: 1px solid;
}

/* striped variant */
.table.striped tbody tr:nth-child(odd) {
  background-color: var(--overlay-background-color);
}

/* bordered variant */
.table.bordered table th,
.table.bordered table td {
  border: 1px solid;
}


/* new code */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.table.schedule {
  width: 100%;
  overflow-x: auto;
  font-size: 12px;
  font-family: sans-serif;
}


.table.schedule table thead tr {
  background-color: rgb(50, 50, 253);
  color: gold;
}

.table.schedule p, dl, ol, ul, pre, blockquote {
margin-top: 2px;
margin-bottom: 5px;
}


.table.schedule.no-header table tbody tr {
  border-top: 1px solid;
}

.lightgrey {
  background-color: var(--light-color);
}


.schedule {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 16px;
}

.schedule.td {
  padding: 1px;
  text-align: center; 
}

.table.schedule table thead tr,.table.schedule table tbody tr {
  border: none; 
}


.single-column-row{
  background-color: var(--dark-color) !important;
  width: 100%;
  text-align: center;
}

@media (width >= 600px) {
  .table.schedule table {
    font-size: var(--body-font-size-xs);
  }
}

@media (width >= 900px) {
  div.section.table-container{
    width: 60%;
  }

  div.table-wrapper{
      display: flex;
      justify-content: center;

  }

  div.table.schedule.block{
      display: flex;
      justify-content: center;
      width: 66%;
  }

  .table.schedule table {
      width: 100%;
      border-collapse: collapse;
      font-size: var(--body-font-size-xs);
    }
}