/* stylelint-disable selector-class-pattern */

.channel-shopper-container p {
    margin: 0;
}

.channel-shopper.block {
    background: initial;
}

.channel-shopper.block > div:not([id]) p {
    display: none;
}

.channel-shopper.block #channel-shopper-app,
.channel-shopper.block #channel-shopper-app > * {
    z-index: 0;
    margin-top: 40px;
}

.channel-shopper.block #channel-shopper-app svg {
    width: 15px;
    height: 20px;
}

.channel-shopper.block #channel-shopper-app button {
    min-width: unset;
    margin-top: unset;
    margin-bottom: unset;
}

.channel-shopper.block #channel-shopper-app button.kBfRPX {
    background: var(--primary-button-color);
    border-radius: 1600px;
    border: transparent;
    font-size: 18px;
    line-height: inherit;
    padding:0.938rem 1.2rem;
}

#channel-shopper-app img {
    width: 60px;
}