.channel-shopper.block {
    background: initial;
}

.channel-shopper.block > div:not([id]) p {
    display: none;
}

.channel-shopper.block #channel-shopper-app,
.channel-shopper.block #channel-shopper-app > * {
    z-index: 0;
}

.channel-shopper.block #channel-shopper-app svg {
    width: 15px;
    height: 20px;
}

.channel-shopper.block #channel-shopper-app button {
    min-width: unset;
    margin-top: unset;
    margin-bottom: unset;
}