main {
  position: relative;
}

main .fragment-container.global-banner-container {
  padding: 0;
  margin: 0;
  background: transparent;
}

main .fragment-container.global-banner-container .section.global-banner-container:not([data-section-status="loaded"]) {
  display: none;
}

main .fragment-container .section.global-banner-container[data-section-status="loaded"] {
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
  background: transparent;
  width: 100%;
}

main .block.global-banner:not([data-block-status="loaded"]) {
  display: none;
}

main .block.global-banner[data-block-status="loaded"] {
  position: relative;
  color: white;
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  height: auto;
  text-align: center;
  width: 100%;
}

main .block.global-banner[data-block-status="loaded"].cyan-black { 
  color: var(--clr-black);
  background: linear-gradient(270deg, #00b9ff 0%, #0ff 50%, #00b9ff 100%);
  box-sizing: border-box;
}

.global-banner p {
  margin: 0 20px;
}

.global-banner a {
  color: white;
  line-height: 27px;
  text-decoration: underline;
  font-size: 1em;
}

main .block.global-banner[data-block-status="loaded"].cyan-black a{ 
  color: var(--clr-black);
} 

.global-banner span.close {
  cursor: pointer;
  font-size: 48px;
  line-height: normal;
  position: relative;
  padding: 5px 50px 0 0;
  z-index: 11;
}

.global-banner.blue-orange {
  background: var(--blue-to-orange);
}
