.section.email-subscription-container {
    padding: 0;
    margin-bottom: 50px;
}

.section.email-subscription-container .email-subscription-wrapper {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    text-align: justify;
}

.section.email-subscription-container .email-subscription.block .heading-container {
    display: flex;
    margin: 0 atuo;
    justify-content: center;
}

.email-subscription.block .form-container form {
    display: flex;
    flex-flow: wrap column;
}

.email-subscription.block .form-container form .email-input
{
    height: 3.25rem;
    border-style: solid;
    border-image: initial;
    border-width: 2px;
    border-radius: 2px;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    padding-left: 0.75rem;
    padding-top: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.222;
    font-weight: 600;
    cursor: text;
    border-color: #eaeaec !important;
    background-color: #eaeaec !important;
    color: var(--header-hover-background-color) !important;
}

.email-subscription.block .form-container form .email-input.invalid
{ 
    border-color: #e90000 !important;
}

.email-subscription.block .form-container form p.error-msg {
    padding-top: 0.25rem;
    font-size: 0.625rem;
    color: #e90000;
    display: none;
}

.email-subscription.block .form-container form p.error-msg.show {
    display: block;
}

.email-subscription.block .form-container form .email-placeholder
{
    position: absolute;
    color: var(--header-hover-background-color);
    opacity: 1;
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
    transform: translateY(40%) translateX(10%);
    transition: all 0.3s ease 0s;
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 15px);
}

.email-subscription.block .form-container form .email-input:focus ~ .email-placeholder,
.email-subscription.block .form-container form .email-placeholder.email-filled
  {
    font-size: 0.75rem;
    font-weight: 500;
    transform: translateY(40%) translateX(10%);
    opacity: 1
}

.email-subscription.block .form-container form .email-submit-btn {
    position: relative;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 0.875rem 1rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0;
    background-color: transparent;
    color: var(--header-hover-background-color);
    border: 2px solid var(--header-hover-background-color);
    border-radius: 0.125rem;
    opacity: 1;
    width: 60px;
    height: 56px;
}

.email-subscription.block .form-container form .email-submit-btn:hover
{
    outline: none;
    box-shadow: none;
    opacity: 0.6;
    transform: scale(1);
    cursor: pointer;
}

.email-subscription.block .form-container form .email-submit-btn .subscribe-btn-txt {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    font-weight: 700;
    margin: 0;
    padding: 0;
    white-space: normal;
}

.email-subscription.block .form-container form p.email-foot-note {
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    padding-top:10px;
}

@media(width >= 900px) {
    .section.email-subscription-container .email-subscription.block  {
        margin: 0 auto;
}}