.columns p {
  font-size:18px;
  line-height: 20px;
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns > div > div {
  order: 1;
}

.columns.icons > div {
  display: flex;
  flex-direction: row;
}

.columns img {
  width: 30%;
}

.columns .columns-img-col img {
  width: 100%;
}

.columns span.icon img {
  width: 100%;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns span.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.columns.icons {
  place-content: normal center;
  align-items: center;
  opacity: 0.6;
  max-width: 640px;
  margin: 0 auto;
}

.columns.icons span {
  display: flex;
  align-items: center;
  margin: 20px;
}

.columns.icons span.icon {
  display: unset;
}

.columns.icons span.icon img {
  height: 20px;
  width: 80px;
}

@media (width >= 768px) {
  .columns > div {
    flex-direction: unset;
    gap: 8%;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .tabs-panel .columns > div {
    flex-direction: column;
  }
}

@media (width >=1024px) {
  .columns.icons span.icon img {
    width: 96px;
    height: 36px;
    padding-bottom: 24px;
  }
}
