.columns p {
  font-size:18px;
  line-height: 20px;
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns.icons > div {
  display: flex;
  flex-direction: row;
}

.columns img {
  width: 30%;
}

.columns .columns-img-col img {
  width: 100%;
}

.banner .columns {
  picture {
    flex: 1 1 0;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;

    img {
      max-width: 80%;
    }
  }

  > div {
    position: relative;
    align-items: center;
  }

  &:first-child {
    padding: 3rem 1.5rem;
  }
}

.banner.small .columns {
  picture {
    justify-content: left;
  }

      > div {
        margin-top: 0;
      }

  &:first-child {
    padding: 1.5rem;
  }
    }

  .section {
    padding: 0;
    margin: 0;
  }

  .columns span.icon img {
    width: 100%;
  }

  .columns > div > .columns-img-col {
    order: 0;
  }

  .columns > div > .columns-img-col img {
    display: block;
  }

  .columns span.icon {
    display: inline-block;
    height: 24px;
    width: 24px;
  }

  .columns.icons {
    place-content: normal center;
    align-items: center;
    opacity: 0.6;
    max-width: 640px;
    margin: 0 auto;
  }

  .columns.icons span {
    display: flex;
    align-items: center;
    margin: 20px;
  }

  .columns.icons span.icon {
    display: unset;
  }

  .columns.icons span.icon img {
    height: 20px;
    width: 80px;
  }

  .international .default-content-wrapper h1{
    font-size: 2.1rem;
    margin-bottom: 30px;
  }

  .international .columns-container .default-content-wrapper {
    h1,h2 {
      font-size: 1.5rem;
      margin-bottom: 30px;
      text-align: center;
    }
  }

  .international .columns.block div .columns-img-col img{
    width: 50vw;
    height: auto;
    cursor: pointer;
  }

  .international .columns.block .columns-img-col{
    display: flex;
    justify-content: center;
  }

  .rewards .rewards-column{
    color: #f5f5f6;;
  }

  .rewards .section.rewards-column.columns-container .default-content-wrapper{
    text-align: center;
  }

  /* .rewards .section.rewards-column.columns-container .columns .columns-img-col p picture{
    margin:0
  }

  .rewards .section.rewards-column.columns-container .columns .columns-img-col p{
    margin-left: 8.3333%;
    width: 83.3333%;
  } */

  .rewards .section.rewards-column.columns-container .columns div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .rewards .section.rewards-column.columns-container .columns-wrapper{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
  }

  .rewards .section.rewards-column.columns-container .columns div div{
    width: 83.3333%;
    margin-left: 8.3333%;
  }

  .rewards .section.rewards-column.columns-container .columns div h3{
    margin-left: 8.3333%;
    width: 83.3333%;
    font-size: 1.125em;
    line-height: 1.125em;
    font-weight: 400;
  }

  .rewards .section.rewards-column.columns-container .columns div picture img{
    width: 100%;
  }


  @media (width >= 768px) {
    .columns > div {
      flex-direction: unset;
      gap: 8%;
    }
    
    .columns > div > div {
      flex: 1;
      order: unset;
    }

    .banner .columns > div {
      display: flex;
      flex-direction: column;
    }

    .tabs-panel .columns > div {
      flex-direction: column;
    }

    .columns-img-col .button-container a{
      display: flex;
      justify-content: center;
    }


    .international .columns.columns-1-cols div .columns-img-col img{
      width: 16.66vw;
      max-width: 194.7px;
      height: auto;
    }

    .international .columns div > div{
      flex: 0;
    }

    .international .columns.columns-1-cols div{
      display: flex;
      justify-content: center;
    }

    .international .columns.columns-3-cols div .columns-img-col img{
      width: 16.5vw;
      max-width: 192.7px;
      height: auto;
    }

    .international .columns.columns-3-cols div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 50px;
    }

    .international .columns.columns-4-cols div{
      display: flex;
      justify-content: center;
      gap: 4%;
      margin: auto;
      max-width: 1168px;
    }

    .international .columns.columns-4-cols div .columns-img-col img{
      width: 16.66vw;
      max-width: 194.7px;
      height: auto;
    }

    .rewards .section.rewards-column.columns-container .columns div{
      display: flex;
      flex-direction: row;
      justify-content: center;
      overflow: hidden;
      gap: 0.5%;
    }

    .rewards .section.rewards-column.columns-container .columns div div{
      display: flex;
      flex-direction: column;
      gap: 0.5%;
      width: 100%;
      margin: 0;
    }

    .rewards .section.rewards-column.columns-container .columns div div p{
      width: 83.3333%;
      margin-left: 8.3333;
    }

    .rewards .section.rewards-column.columns-container .columns-wrapper{
      width: 100%;
    }



  }

  @media (width >=992px) {
    .rewards .section.rewards-column.columns-container .columns-wrapper .columns{
      line-height: 30px;
      max-width: 1168px;
      margin: 0 auto;
    }
  }

  @media (width >=1024px) {
    .columns.icons span.icon img {
      height: 36px;
      width: 96px;
    }

    .international .columns.icons span.icon img {
      width: 96px;
      height: 36px;
      padding-bottom: 24px;
    }

    .banner .columns > div {
      flex-direction: unset;
      gap: 8%;
      padding: 1rem 0 2rem 3.5rem;

      > div:first-child {
        flex: 2 1 0;
      }

      > div:last-child {
        flex: 1 1 0;
        display: flex;
        justify-content: right;
        align-items: center;
      }
    }

    .banner.small .columns > div { /* stylelint-disable-line */
      padding: 1rem 2rem 2rem 2.5rem;
    }
  }

  @media (width >=1200px) {
    .tabs.columns {
      width: 88%;
      margin: 0 auto;
    }

    .tabs-panel .columns > div {
      flex-direction: row;
    }

    .tabs.wide .tabs-panel .columns > div {
      flex-direction: column;
    }

  }