.banner-image.block {
    color: var(--clr-white);
    position: relative;
    border: none;
    overflow: hidden;
    background-repeat: no-repeat !important;
    height: fit-content;

    &.min-height {
        min-height: 452px;
    }

    &.small.min-height {
        min-height: 342px;
    }
}

.banner-content {
    color: var(--clr-white);
    border: none;
    padding: 48px 8%;
    display: flex;
    -webkit-box-pack: justify;
    flex-flow: column;
    inset: 0;
    box-sizing: border-box;
    width: 100%;
    -webkit-box-align: start;
    align-items: start;
    text-align: left;
    position: relative;
    height: 100%;

    .text-cta-container {
        margin-top: 1rem;
        width: 100%;

        .headline > * {
            margin-top: 0;
            padding-top: 0;
        }

        .headline h2 {
            font-size: 2rem;
            margin-bottom: 20px;
        }

        .sub-headline > *:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .sub-headline h2 {
            font-size: 24px;
            line-height: 2.125rem;
        }

        .sub-headline h3 {
            font-size: 20px;
            line-height: 1.1;
        }

        .headline p {
            font-size: var(--heading-font-size-l);
            line-height: 30px;
        }

        .sub-headline p {
            line-height: 1.25;
        }

        .sub-headline picture img {
            width: auto;
            height: auto;
        }

        > .buttons-container {
            display: flex;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            width: 100%;
            margin:0 auto;

            a.button.primary {
                min-width: 180px;
            }
        }

        .buttons-container p {
            margin:0;
        }
    }

    .foreground-container {
        margin: 1rem auto 0;
        text-align: center;
    }

    .offer-details a.button.text {
        max-width: 200px;
        margin-top:10px;

        .link-button-text {
            color:#fff;
            font-weight: 500;
        }
    }
}

@media (width >= 768px) {
    .banner-image.block {
        &.min-height {
            min-height: 380px;
        }

        &.small.min-height {
            min-height: 294px;
        }
    }

    .banner-content {
        .text-cta-container {
            > .buttons-container {
                width: fit-content;
            }
            }
        }

        .sub-headline picture {
            text-align: center;
        }
    }

@media (width >= 1024px) {
    .banner-image.block {
        height: 100%;

        .buttons-container {
            display: block;
            margin: 0;
        }

        &.small .buttons-container {
            position: absolute;
            right: 8%;
            top: 38%;
        }

        &.min-height {
            min-height: 470px;
        }

        &.small.min-height {
            min-height: 206px;
        }
    }

    .banner-content {
        flex-direction: row;
        padding: 80px 8%;
        align-items: center;
        justify-content: space-between;

        .text-cta-container {
            padding-right: 1.5rem;
            margin: unset;
        }

        .foreground-container {
            margin: 0;
        }

        .buttons-container .button-container {
            text-align: center;
        }
    }

    .small .banner-content {
            padding: 60px 8%;
    }
}

@media (width >= 1440px) {
    .banner-content .text-cta-container {
        margin: unset;
    }
}
