header nav .zipcode-wrapper {
    position: absolute;
    background: #c3c3c340;
    z-index: 1000;
    height: 60px;
    padding-left: 5px;
    padding-right: 5px;
    top: 0;
    left: 95px;
    display: flex;
    place-content: center;
    place-items: center;
    box-sizing: border-box;
    width: 127px;
}

header nav[aria-expanded="true"] .zipcode-wrapper {
    height: 60px;
}

header nav[aria-expanded="true"] .zipcode-wrapper.selected{
    background: #44444f;
    width: 127px;
}

.white-arrow-background {
    width: 20px;
    height: 20px;
    position: relative;
    background-color: var(--clr-white);
    top: -10px;
    left: 40%;
    transform: rotate(-45deg);
    margin-top: 1px;
    z-index: 2;
    border-radius: 3px;
}

.geo-container {
    box-sizing: border-box;
    color: var(--header-text-color);
    display: flex;
    width: 100px;
    place-content: space-evenly;
}

.geo-container .geo-pin:hover,
.geo-container .geo-text:hover,
.geo-container .geo-selector:hover {
    cursor: pointer;
}

.geo-container img {
    filter: invert(1);
    width: 12px;
    height: 12px;
}

.geo-pin img {
    width:16px;
    height: 16px;
 }

.geo-form-container {
    position: absolute;
    height: 286px;
    width: 265px;
    top: 70px;
    left:-86px;
    border-radius: 0.5rem;
    background-color: var(--clr-white);
    box-shadow: var(--clr-black);
    z-index: 1000;
    padding: 0 24px;
    box-sizing: border-box;
}

.form-close {
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}

.form-close .form-close-btn {
    all: unset;
    cursor: pointer;
}


.form-close .form-close-btn>img {
    width: 20px;
    height: 20px;
}

.form-header {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: var(--clr-black);
    text-align: center;
    margin-bottom: 24px;
    letter-spacing: 0.25px;
}

.form-info-text {
    font-size: 12px;
    font-weight: 400;
    color: var(--clr-black);
    text-align: left;
    margin-bottom: 16px;
    line-height: 18px;
}

.geo-form-input {
    width: 100%;
    position: relative;
}

.geo-form-input input {
    border-style: solid;
    border-image: initial;
    border-width: 2px;
    border-radius: 2px;
    box-sizing: border-box;
    outline: none;
    padding-left: 0.75rem;
    padding-top: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.222;
    font-weight: 600;
    cursor: text;
    border-color: var(--input-background-color) !important;
    background-color: var(--input-background-color) !important;
    color: var(--clr-light-black) !important;
    display: flex;
    flex-direction: column;
    height: 3.25rem;
    width: 100%;
}

.zip-input-label {
    position: absolute;
    color: var(--coal);
    opacity: 1;
    font-size: 0.75rem;
    font-weight: 500;
    text-align: left;
    left: calc(2px + 0.75rem);
    top: 0.75rem;
    transform: none;
    transition: all 0.3s ease 0s;
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 15px);
}

.zip-update-btn {
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    padding: 0.938rem 1.2rem;
    position: relative;
    box-sizing: border-box;
    background: linear-gradient(108.93deg, #0072ec 37.23%, #00b9ff 112.13%);
    color: #f5f5f6;
    border: none;
    border-radius: 1600px;
    opacity: 1;
    min-width: unset;
}

.zip-update-btn-txt {
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 1px;
}

@media (width >=1380px) {
    header nav .zipcode-wrapper {
        left: 115px;
        height: 70px;
    }

    header nav[aria-expanded="true"] .zipcode-wrapper {
        height: 70px;
    }

    .geo-form-container {
        position: absolute;
        height: 335px;
        width: 313px;
    }

    .geo-form-input {
        margin-bottom: 50px;
        width: 265px;
        height: 40px;
        padding-bottom: 10px;
        position: relative;
    }

    .geo-form-input input {
        height: 4rem;
        width: 100%;
    }
}
