/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav .navprimary .nav-heading-title {
  display: block;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: #f5f5f6 !important;
}

header nav {
  box-sizing: border-box;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  margin: auto;
  height: var(--nav-height);
  font-family: var(--body-font-family);
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  background: linear-gradient(360deg, #292828fa 0%, #484848fa 100%);
}

header .profile .icon.icon-sign-in {
  position: absolute;
  top: 25px;
  right: 60px;
  width: 32px;
  height: 32px;
}

header .icon.icon-logo-sling-rebrand {
  margin-left: 16px;
}

header .icon.icon-logo-sling-rebrand img {
  height: 32px;
  width: 55.77px;
}

header .section.signup {
  display: none;
}

header nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  height: 100dvh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  background: linear-gradient(360deg, #292828fa 0%, #484848fa 100%);
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
}

header nav .nav-sections ul > li {
  font-weight: 500;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 400;
}

header nav[aria-expanded='true'] .nav-drop ul {
  display: flex;
  width: 100vw;
  position: fixed;
  flex-direction: column;
  -webkit-box-pack: justify;
  height: calc(-60px + 100dvh);
  transform: translateX(100%);
  left: 0;
  top: 120px;
  margin-left: 27px;
  transition: height 0.5s ease-in-out, transform 0.5s ease-in-out;
}

header nav[aria-expanded='true'] .navsecondary {
  margin-top: 300px;
}

header nav[aria-expanded='true'] .navsecondary ul li {
  padding: 0 4px 25px;
  list-style: none;
}

header nav[aria-expanded='true'] .nav-drop ul.show {
    display: flex;
    width: 100vw;
    position: fixed;
    flex-direction: column;
    height: calc(-60px + 100dvh);
    transform: translateX(0%);
    left: 0;
    margin-left: 27px;
    top: 120px;
    transition: height 0.5s ease-in-out, transform 0.5s ease-in-out;
}

header nav[aria-expanded='true'] .nav-drop ul.show li{
  display: block;
  text-decoration: none;
  color: inherit;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 0 10px 6px;
}

header nav[aria-expanded='false'] .navsecondary {
  display : none;
}

header nav[aria-expanded='true'] .navprimary {
    color: #d6d6d7;
    font-size: 18px;
    margin-left: 27px;
    margin-right: 27px;
    margin-bottom: 10px;
    padding-top: 35px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

header nav[aria-expanded='true'] .navprimary .nav-drop {
  padding: 19px 4px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  color: white;
  cursor: pointer;
}

header nav[aria-expanded='true'] .navsecondary ul{
  color: #d6d6d7;
  position: static;
  display: flex;
  flex-direction: column;
  margin-left: 27px;
  margin-right: 27px;
  padding-bottom: 15px;
  padding-top: 20px;
  padding-left: 5px;
  border-top: 2px solid gray;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}

header nav .navprimary .nav-heading {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

header nav .navprimary .nav-heading.hide {
  display: none;
}

header nav .navprimary .nav-heading::after {
  content: '';
  background: url('../../icons/forward-arrow.svg') no-repeat;
  width: 20px;
  height: 20px;
  transition: width 200ms, left 200ms;
  margin-right: 20px;
  display: inline-block;
}

header nav[aria-expanded='true'] .navprimary .nav-drop .nav-heading.hide ,  header nav[aria-expanded='true'] .navsecondary.hide{
  display: none;
}

header nav[aria-expanded='false'] .backbutton , header nav[aria-expanded='false'] .backbutton::before , header nav[aria-expanded='true'] .backbutton {
  display: none;
}

header nav[aria-expanded='true'] .backbutton.show {
  color: white;
  position: absolute;
  left: 40px;
  top: 70px;
  align-items: center;
  display: flex;
}

header nav[aria-expanded='true'] .backbutton.show::before {
  content: '';
  background: url('../../icons/forward-arrow.svg') no-repeat;
  rotate: 180deg;
  width: 20px;
  height: 20px;
  transition: width 200ms, left 200ms;
  margin-right: 20px;
  display: inline-block;
}


/* tools */
header nav .nav-tools {
  grid-area: tools;
}


header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
  position: absolute;
  top: 30px;
  right: 30px;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

@media (width >= 1380px) {
  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
    margin: 0;
    padding: 0;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
    height: 72px;
  }

  header .icon.icon-logo-sling-rebrand {
    margin-left: 40px;
  }

  header .profile .icon.icon-sign-in {
    position: absolute;
    top: 25px;
    right: 160px;
    width: 32px;
    height: 32px;
  }

  header .section.signup {
    display: block;
  }
  
  header .section.signup a{
    font-size: 18px;
    padding: 0.938rem 1.2rem;
    position: relative;
    font-weight: 800;
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(108.93deg, #0072ec 37.23%, #00b9ff 112.13%);
    border: none;
    border-radius: 1600px;
    text-decoration: none;
    min-width: 150px;
    color: #f5f5f6 !important;
  }

  header nav[aria-expanded='true'] .navprimary {
    position: absolute;
    left: 269px;
    padding: 0;
  }

  header nav[aria-expanded='true'] .navprimary .nav-drop[aria-expanded='true'] {
    border-bottom: 3px solid white;
  }

  header nav .navprimary .nav-heading::after, header nav[aria-expanded='true'] .navsecondary {
    display: none;
  }

  header nav .navprimary .nav-heading-title {
    display: block;
    text-decoration: none;
    padding-top: 43px;
    font-weight: 600;
    font-size: 18px;
    color: #f5f5f6 !important;
  }

  header nav .nav-sections .default-content-wrapper > ul {
    display: flex;
    gap: 24px;
    margin: 0;
  }

  header nav[aria-expanded='true'] .navsecondary ul {
    border-top: none;
  }

  header nav[aria-expanded='true'] .nav-drop ul.show {
    display: block;
    transform: none;
  }

  header nav[aria-expanded='true'] .navsecondary.show {
    color: #d6d6d7;
    position: absolute;
    right: 78px;
    top: 30px;
    margin-top: 0;
    padding-top: 42px;
    padding-bottom: 10px;
    border: none;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility linear;
    z-index: 9999;
    display: block;
  }

  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }

  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
    margin-left: 10px;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true']::after {
    top: unset;
    bottom: 0.5em;
    transform: rotate(315deg);
  }

  header nav[aria-expanded='true'] .nav-drop ul {
    transform: none;
    position: absolute;
    visibility: visible;
    opacity: 1;
    height: 260px;
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility linear;
    width: max-content;
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded='false'] > ul {
    /* background: linear-gradient(360deg, #292828fa 0%, #484848fa 100%); */
    z-index: 999;
    position: absolute;
    left: 0;
    margin-left: 0;
    top: calc(70px);
    width: max-content;
    height: 0;
    overflow: hidden;
    transition: height 0.1s ease-in-out; 
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded='true'] > ul {
    /* background: linear-gradient(360deg, #292828fa 0%, #484848fa 100%); */
    z-index: 999;
    position: absolute;
    left: 0;
    margin-left: 0;
    top: calc(70px);
    width: 30vw;;
    overflow: hidden;
    height: 260px;
    transition: height 0.1s ease-in-out; 
  }

  header .navmenu {
    background: linear-gradient(360deg, #292828fa 0%, #484848fa 100%);
    position: absolute;
    left: 0;
    margin-left: 0;
    top: calc(70px);
    width: 100vw;
    overflow: hidden;
    height: 0;
    display: flex;
    transition: height 0.3s ease-in-out;
  }

  header .navmenu.show {
    background: linear-gradient(360deg, #292828fa 0%, #484848fa 100%);
    position: absolute;
    left: 0;
    margin-left: 0;
    top: calc(70px);
    width: 100vw;
    overflow: hidden;
    height: 260px;
    display: flex;
    transition: height 0.3s ease-in-out;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 16px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding-bottom: 13px;
    color: #d6d6d7;
    cursor: pointer;
  }
  
  header nav .navprimary .nav-drop ul .navitems {
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
    gap: 0 56px;
    padding-left: 12px;
  }

  header nav .navprimary .nav-drop .navitems li {
    width: max-content;
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding-bottom: 13px;
    color: #d6d6d7;
    cursor: pointer;
  }

}