/* stylelint-disable selector-class-pattern */

.package-cards.block > div:not([id]) p {
    display: none;
}


.package-cards.block #package-cards-app button.back-arrow-blue,
.package-cards.block #package-cards-app button.next-arrow-blue,
.package-cards.block #package-cards-app button.back-arrow-orange,
.package-cards.block #package-cards-app button.next-arrow-orange,
.package-cards.block #package-cards-app button.sc-kgAjT,
.package-cards.block #package-cards-app button[aria-label="close"]
 {
   padding: unset;
   margin: unset;
   min-width: 0;
   border-radius: 0;
}

.package-cards.block #package-cards-app a:any-link {
    color:initial;
    border-radius: 1600px;
}

.package-cards.block #package-cards-app div.VhpVA { 
    inset: 50px 0;
    height: 100vh;
}

.package-cards.block #package-cards-app a.blue-homepage-base-card-cart-link {
    color: var(--clr-white);
}

.package-cards.block #package-cards-app a.blue-homepage-base-card-cart-link:hover {
    color: var(--clr-white);
}

.package-cards.block #package-cards-app a:hover {
    color:initial;
}

.package-cards.block #package-cards-app button{
    border-radius: 1600px;
}

.package-cards.block #package-cards-app > * {
    z-index: 0;
}

.package-cards.block #package-cards-app div.eMQgdL > *{
    height: 479px;
}

.package-cards.block #package-cards-app img {
    width: auto;
    height: auto;
}

.package-cards.block #package-cards-app .bnPtBS {
    z-index:1;
}

@media (width >= 768px) {
.package-cards.block #package-cards-app .fIvgai {
    right: 12px;
    top: 28px;
}
}