.package-cards.block {
    background: initial;
}

.package-cards.block > div:not([id]) p {
    display: none;
}

.package-cards.block #app {
    z-index: 300;
    position: relative;
}

/* stylelint-disable-next-line selector-class-pattern */
.package-cards.block #app button.back-arrow-blue,
.package-cards.block #app button.next-arrow-blue,
.package-cards.block #app button.back-arrow-orange,
.package-cards.block #app button.next-arrow-orange
 {
   padding: unset;
   margin: unset;
   min-width: 0;
}

.package-cards.block #app a {
color: var(--clr-white);
}