.marquee.block {
    color: var(--clr-white);
    position: relative;
    border: none;
    overflow: hidden;
    min-height: 700px;
}

.marquee-content {
  color: var(--clr-white);
  border: none;
  padding: 48px 2rem 6%;
  display: flex;
  -webkit-box-pack: justify;
  flex-flow: column;
  inset: 0;
  background: linear-gradient(#33334c00 50%, 85%, #171725 100%), radial-gradient(110% 100% at 75% 25%, #20203200 0%, #171725 100%);
  box-sizing: border-box;
  width: 100%;
  -webkit-box-align: start;
  align-items: start;
  text-align: left;
  position: relative;
  height: 100%;
    min-height: 700px;
  }

.marquee-content .text-cta-container {
    margin: 1rem 0;
}

.marquee-content .headline p {
    font-size: var(--heading-font-size-l);
    line-height: 30px;
}

  .marquee-content h1 {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -1.15px;
    margin: 0 0 1rem;
    max-width: 600px;
  }

  .marquee-content h2 {
    font-size: var(--heading-font-size-3xl);
    line-height: 54px;
    letter-spacing: -1.15px;
    margin: 0 0 1rem;
    max-width: 600px;
    -webkit-font-smoothing: antialiased;
    text-wrap: wrap;
    scroll-margin: 0;
  }

  .marquee .background {
    position:absolute;
    z-index: 0;
    inset: 0;
    height: 100%;

      picture {
          display: unset;
      }
  }

  .marquee .background video,
  .marquee .background picture img{
    position: relative;
    z-index: 0;
    object-fit: cover;
    width: 100%;
    box-sizing: border-box;
    inset: 0;
    height: 100%;
  }

  .marquee-content .sub-headline picture img {
    width: auto;
    height: auto;
  }

  .marquee-content .text-cta-container .button-container
  {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: fit-content;
    max-width: unset;
  }

  .marquee-content .text-cta-container .button-container p {
  margin:0;
 }


.marquee-content .foreground-container {
  margin: 1rem auto;
    text-align: center;
}



@media (width >= 768px) {
  .marquee-content .text-cta-container {
    margin-right:20px;
  }

  .marquee-content {
    padding: 80px 4rem 6%;
  }
 }

 @media (width >= 1024px) {
  .marquee-content {
    flex-direction: row;
    padding: 80px 128px 6%;
    align-items: center;
    justify-content: space-between;
  }


  .marquee-content h1
  {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -1.25px;
    margin: 0 0 1rem;
    font-weight: 600;
  }

  .marquee-content h2 {
    font-size: 52px;
    font-weight: 800;
    line-height: 58px;
    letter-spacing: -1px;
    margin: 0.5rem 0 1rem;
  }

  .marquee-content .text-cta-container {
      width: 50%;
      max-width: 600px;
      padding-right: 1.5rem;

      .button-container {
          display: block;
          margin: 0;
      }
  }

     .marquee-content .foreground-container {
         padding-left: 1.5rem;
         width: 50%;
         margin: 0;
     }

   .marquee-content .cta a.scroll-into-header{
    position: fixed;
    top: 35px;
    right: 132px;
    z-index: 1030;
    padding: 10.5px;
    min-width: 180px;
    margin: 0;
    min-height: 50px;
    }

 }
