/* stylelint-disable no-descending-specificity */

/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 @font-face {
  font-family: proxima-nova-fallback;
  src: local('Arial');
  size-adjust: 99%;
  ascent-override: 80%;
  descent-override: 20%;
  line-gap-override: 0%;
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

 :root {
  /* colors */
  --link-color: #298ef7; /* #0569d1 4.88;  #126bca; 4.84  006cdf don't change unless it is passing accessibility everywhere */
  --link-hover-color: #3abfed;
  --background-color: #f5f5f6;
  --header-background-color: #0f101f;
  --clr-light-black: #171725;
  --header-hover-background-color: var(--clr-light-black);
  --header-text-color: #f5f5f6;
  --light-color: #eee;
  --light-grey-color: rgb(235 235 235);
  --dark-color: #ccc;
  --text-color: #333;
  --primary-button-color: linear-gradient(108.93deg, #0072ec 37.23%, #00b9ff 112.13%);
  --invalid-red: #e90000;
  --input-background-color: #eaeaec;
  --dark-background-color: rgb(23 23 37);
  --clr-white: #fff;
  --clr-black: #000;
  --dark-grey-color: #706f6f;
  --sling-gradient: linear-gradient(90deg, rgb(0 188 252 / 100%) 0%, rgb(143 235 210 / 100%) 56%, rgb(255 157 3 / 100%) 76%, rgb(254 213 66 / 100%) 100%, rgb(254 239 196 / 100%) 100%);

    /* fonts */
  ;
  --body-font-family: proxima-nova, proxima-nova-fallback, sans-serif;
  --heading-font-family: var(--body-font-family), sans-serif;
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;
  --font-awesome: font-awesome, sans-serif;

  /* body sizes */
  --body-font-size-m: 18px;
  --body-font-size-s: 16px;
  --body-font-size-xs: 14px;

  /* heading sizes */
  --heading-font-size-3xl: 44px;
  --heading-font-size-xxl: 32px;
  --heading-font-size-xl: 28px;
  --heading-font-size-l: 24px;
  --heading-font-size-m: 18px;
  --heading-font-size-s: 16px;
  --heading-font-size-xs: 14px;

  /* nav height */
  --nav-height: 70px;

  /* Color Variants */
  --blue-to-orange: linear-gradient(to right, #1b00a6, #eb550f);
}


body {
  font-size: var(--body-font-size-s);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.875;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

.block.highlight {
  outline: 2px dotted lime;
}

.section.highlight {
  outline: 2px dotted red;
}

 span.blockname {
  display: none;
 }

 span.blockname.show {
 display: block;
 position: relative;
 top:0;
 left:10px;
 font-size: 24px;
 color:red
}

/* div.section.highlight {
  outline: 3px solid green;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  line-height: 1.25;
  text-wrap: initial;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl)
}

h2 {
  font-size: var(--heading-font-size-xl)
}

h3 {
  font-size: var(--heading-font-size-l)
}

h4 {
  font-size: var(--heading-font-size-m)
}

h5 {
  font-size: var(--heading-font-size-s)
}

h6 {
  font-size: var(--heading-font-size-xs)
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin: 0 0 10px;
}

code,
pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: .125em;
}

code.spacer2 {
  line-height: 3em;
}

code.spacer3 {
  line-height: 4.5em;
}

pre {
  overflow: scroll;
}


del, picture {
  text-decoration: unset;
  line-height: 0; /* this and display:block removes extra space */
  display: block;
}

.center {
  text-align: center;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* Fire style */
.columns strong em,
.columns em strong {
  font-style: normal;
  color: #faa21b;
  font-size: 1em;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link,
button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  margin-bottom: 8px;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 180px;
  padding: 14px 16px;
}

a.button:hover,
a.button::-moz-focus-inner {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

a.button.primary,
button.primary,
a.button.secondary,
button.secondary {
  border-radius: 1600px;
  opacity: 1;
  min-width: 11.25rem;
  font-size: 1rem;
  padding: 0.875rem 1rem;
  min-height: 60px;
  align-content: center;
}

a.button.primary,
button.primary {
  color: var(--background-color);
  background: var(--primary-button-color);
  border: 2px solid var(--primary-button-color);
}

a.button.secondary,
button.secondary {
  color: var(--text-color);
  background-color: var(--light-color);
  border: 2px solid var(--light-color);
}

a.button.primary:hover,
a.button.secondary:hover {
  outline: none;
  box-shadow: #07070b66 0 24px 57px 0;
  opacity: 1;
  transform: scale(1.05);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

/* Buttons Container */
.buttons-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.buttons-container a.button {
  margin: 8px;
}

a.button.text,
button.text {
  background-color: unset;
  border: 0;
  text-align: unset;
  font-size: inherit;
  margin: unset;
  padding: unset;
  white-space: normal;
  font-weight: bold;
  font-style: inherit;
  border-radius: unset;
  line-height: inherit;
  text-transform: none;
  color: var(--link-color);
}

a.button.text:hover,
button.text:hover {
  background-color: unset;
  color: var(--link-hover-color);
  box-shadow: none;
}

.offer-details .buttons-container {
  display: block;
}

.offer-details .button.text {
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
  margin-left: 10px;
}

.offer-details a.button.text {
  color: white;
  text-align: center;
}

.offer-details a.button.text:hover {
  text-decoration: underline;
}

.offer-details .button-container p {
  line-height: 1em;
  margin: 0;
}

.block.blog-breadcrumb {
  background: 0;
  color: var(--clr-black);
  font-size: 18px;
  margin: 0 auto;
  padding: 8px 10% 14px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.blog-breadcrumb .blog-breadcrumb-active-article {
  font-weight: 700;
  text-transform: uppercase;
}

a.blog-breadcrumb-link {
  color: var(--dark-grey-color);
}

.blog-breadcrumb span.icon-fw-arrow {
  width: unset;
  height: unset;
  margin: 0 14px;
  display: inline-block;
  font: normal normal normal 20px / 1 var(--font-awesome);
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blog-breadcrumb span.icon-fw-arrow::before {
  content: "\f105";
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img, img.svg {
  height: 100%;
  width: 100%;
}

/* sections */
main .section {
  padding: 0 16px;
  margin: 64px 0;
}

.section > .default-content-wrapper > p.fragment-wrapper {
  margin: 0;
}


/* FAQ Section */
.section.tabs-container.accordion-container .default-content-wrapper {
  text-align: center;
}

.section.tabs-container.accordion-container .default-content-wrapper h3 {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: rgb(0 0 16);
}

/* CTA Banner Section */
.section.banner {
  position: relative;
  color: #fff;
  margin: 0;
  padding: 0;
  background-position: center;



  .buttons-container {
    text-align: center;
  }
}

.section.banner .blog-hero picture {
  width: 100%;
  height: 350px;
  overflow: hidden;
}

main .icon-still-have-questions img {
  max-width: fit-content;
  height: 80px;
  width: 30px;
  vertical-align: middle;
}

.section.still-have-question-section {
  text-align: center;
}

.section.banner .blog-hero img {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.section.wide-columns {
  margin: 0 auto;
  width: 80%;
  padding:0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.section.wide-columns .columns.block  div {
  margin-bottom: 50px;
}

.section.wide-columns .columns.block > div {
  flex-direction: column-reverse;
}


/* Section with Dark or Centered content */
.section.dark {
  background-color: var(--dark-background-color);
  color: var(--light-color);
  margin: 0;
  padding: 64px 8%;
}

.section.game-finder-container {
  margin: 0 auto;
  padding: 50px 0;
}

.section.game-finder-container .game-finder-wrapper
{
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
}

.section.game-finder-container > .default-content-wrapper > h2,
.section.game-finder-container > .default-content-wrapper > p
 {
  text-align:center;
  margin-bottom: 10px;
}


.section.game-finder-container > .default-content-wrapper > h2 {
  font-size: 40px;
}

.section.game-finder-container > .default-content-wrapper > p {
  font-size:20px;
}

.section.dark-grey {
  background: #202230;
  color: var(--light-color);
  padding:50px 0;
  margin: 0;
}

.section.dark-grey > * {
  width: 80%;
  margin:0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.section.dark-grey > .default-content-wrapper h2:first-of-type {
  margin-top:0;
  text-align: center;
  font-size: 2rem;
  line-height: 2.75rem;
  margin-bottom:50px;
}

.section.section.dark-grey .columns.block a {
  color: #0078ad;
}

.section.section.dark-grey .columns.block a:hover {
  color: #3abfed;
  text-decoration: none;
  cursor: pointer;
  transition: color .3s ease;
}

.section.dark-grey .columns.block h2,
.section.dark-grey .columns.block h3,
.section.dark-grey .columns.block p
{
margin-bottom:10px;
}

.section.section.dark-grey .columns.block div {
  margin-bottom:15px;
}

.section.center {
  text-align: center;
}

/* specially for supported devices illustration */
.section.dark .section.dark {
  padding: 0;
}

.section.dark.center.columns-container span.icon:first-of-type {
  height: 103px;
  width: 180px;
}

.section.channel-shopper-container {
  color: var(--clr-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  max-width: 100%;
  margin:0 auto;
  text-align: center;
}

.section.tabs-container .tabs-wrapper {
  position: relative;
}


/* pakage cards sectio */
.section.package-cards-container
{
    margin: 100px auto;
    padding:0;
}

.section.package-cards-container .columns-wrapper
{
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    text-align: center;

}


.section.package-cards-container .columns.block > div
{
  border-radius: 4px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 14%);
    padding: 40px;
    background-color: #fff;
}

.section.package-cards-container .columns.block > div > .fragment-wrapper
{
  align-self: flex-end;
    width: 80%;
}

.section.package-cards-container .columns.block > div > .fragment-wrapper + div
{
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}

.section.package-cards-container .columns.block > div > .fragment-wrapper + div > h2 {
  text-align: left;
}


.section.marquee-container {
  margin:0;
  padding:0;
  width: 100%;
}

 /* promotion columsn with reverse on mobile */
 .section.promo-reverse .columns > div  {
  margin-bottom: 0;
  place-items: center;
 }

 .section.promo-reverse .columns > div > div {
  margin-bottom: 50px;
  place-items: center;
 }

.section.promo-reverse .columns > div > .columns-img-col {
  order: 1;
}

@media (width >=768px) {
  main .section {
  padding: 0 48px;
  }

  .international main .icons .icon img{
    max-width: none;
  }

  /* CTA Banner Section */
  .section.cta-banner .columns-wrapper {
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
  }

  /* Section with Dark or Centered content */
  .section.center >* {
    max-width: 1200px;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .section.wide-columns .columns-wrapper {
    max-width: 100%;
  }

  .section.wide-columns .columns > div>div:nth-of-type(1) {
    width: 50%;
  }

  .section.wide-columns .columns > div>div:nth-of-type(2) {
    width: 50%;
  }

  .section.dark {
    padding: 64px 32px;
  }

   /* package cards desktop styles */

   .section.columns-container.package-cards-container.offer-details
   {
      margin:100px 0;
   }

   .section.package-cards-container .offer-details a.button.text {
     color: unset;
   }


  .section.wide-columns .columns.block  div {
    margin-bottom: 20px;
  }

  .section.wide-columns .columns.block > div {
    flex-direction: row;
  }

  .section.wide-columns .columns.block .columns-img-col {
    align-self: center;
  }

  .section.wide-columns .columns.block p {
    font-size: 1.125em;
    line-height: 1.5em;
    text-align: center;
  }

  .section.dark-grey .columns.block div {
    margin-bottom: 0;
  }

.section.package-cards-container .columns.block > div {
  flex-direction: column;
}

.section.dark-grey.columns-container .columns.block  {
width: 80%;
margin:0 auto;
}

.section.section.package-cards-container {
  margin:0;
}

/* stylelint-disable-next-line selector-class-pattern */
.section.package-cards-container #package-cards-app .hlmNfh
{
  flex-direction: column;
    align-items: unset;
}

/* channel-shopper columns block styling */

.section.channel-shopper-container {
  text-align: justify;
 }


.section.channel-shopper-container .columns > div {
  justify-content: space-around;
 }

 .section.channel-shopper-container .columns > div > div.fragment-wrapper {
   width:33.3%
 }

 .section.channel-shopper-container .columns > div > div.columns-img-col {
   width:33.3%;
 }

}

@media (width >=1024px) {
  /* CTA Banner Section */
  .section.banner {
    .buttons-container {
      text-align: left;
    }
  }

  section > .default-content-wrapper > p.fragment-wrapper {
    .section.banner {
      padding: 0 36px 0 0;
    }
  }

  .section.package-cards-container .columns.block > div {
    flex-direction: row;
}


.section.dark-grey.columns-container .columns.block  {
  width: 60%;
  margin:0 auto;
  }

  .section.promo-reverse .columns > div > .columns-img-col {
    order: 0;
  }

main h2#still-have-questions {
  margin: 35px 0 0 ;
}

main .icon-still-have-questions img {
  width: 64px!important;

}

}

@media (width >=1540px) {

    /* stylelint-disable-next-line selector-class-pattern */
.section.package-cards-container #package-cards-app .hlmNfh
{
  flex-direction: row;
    align-items: center;
}
 }

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}