/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --link-color: #298ef7; /* #0569d1 4.88;  #126bca; 4.84  006cdf don't change unless it is passing accessibility everywhere */
  --link-hover-color: #3abfed;
  --background-color: #f5f5f6;
  --header-background-color: #0f101f;
  --clr-light-black: #171725;
  --header-hover-background-color: var(--clr-light-black);
  --header-text-color: #f5f5f6;
  --light-color: #eee;
  --light-grey-color: rgb(235 235 235);
  --dark-color: #ccc;
  --text-color: #333;
  --primary-button-color: linear-gradient(108.93deg, #0072ec 37.23%, #00b9ff 112.13%);
  --invalid-red: #e90000;
  --input-background-color: #eaeaec;
  --dark-background-color: rgb(23 23 37);
  --clr-white: #fff;
  --clr-black: #000;
  --dark-grey-color: #706f6f;

    /* fonts */
  ;
  --body-font-family: proxima-nova, proxima-nova-fallback, sans-serif;
  --heading-font-family: var(--body-font-family), sans-serif;
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;
  --font-awesome: font-awesome, sans-serif;

  /* body sizes */
  --body-font-size-m: 18px;
  --body-font-size-s: 16px;
  --body-font-size-xs: 14px;

  /* heading sizes */
  --heading-font-size-xxl: 32px;
  --heading-font-size-xl: 28px;
  --heading-font-size-l: 24px;
  --heading-font-size-m: 18px;
  --heading-font-size-s: 16px;
  --heading-font-size-xs: 14px;

  /* nav height */
  --nav-height: 70px;

  /* Color Variants */
  --blue-to-orange: linear-gradient(to right, #1b00a6, #eb550f);
}

@font-face {
  font-family: proxima-nova-fallback;
  src: local('Arial');
  size-adjust: 99%;
  ascent-override: 80%;
  descent-override: 20%;
  line-gap-override: 0%;
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

body {
  font-size: var(--body-font-size-s);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.875;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  line-height: 1.25;
  text-wrap: initial;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl)
}

h2 {
  font-size: var(--heading-font-size-xl)
}

h3 {
  font-size: var(--heading-font-size-l)
}

h4 {
  font-size: var(--heading-font-size-m)
}

h5 {
  font-size: var(--heading-font-size-s)
}

h6 {
  font-size: var(--heading-font-size-xs)
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin: 0 0 10px;
}

code,
pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: .125em;
}

code.spacer2 {
  line-height: 3em;
}

code.spacer3 {
  line-height: 4.5em;
}

pre {
  overflow: scroll;
}


del {
  text-decoration: unset;
}

.center {
  text-align: center;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* Fire style */
.columns strong em,
.columns em strong {
  font-style: normal;
  color: #faa21b;
  font-size: 1em;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link,
button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  margin-bottom: 8px;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 180px;
  padding: 14px 16px;
}

a.button:hover,
a.button::-moz-focus-inner {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

a.button.primary,
button.primary,
a.button.secondary,
button.secondary {
  border-radius: 1600px;
  opacity: 1;
  min-width: 11.25rem;
  font-size: 1rem;
  padding: 0.875rem 1rem;
  min-height: 60px;
  align-content: center;
}

a.button.primary,
button.primary {
  color: var(--background-color);
  background: var(--primary-button-color);
  border: 2px solid var(--primary-button-color);
}

a.button.secondary,
button.secondary {
  color: var(--text-color);
  background-color: var(--light-color);
  border: 2px solid var(--light-color);
}

a.button.primary:hover,
a.button.secondary:hover {
  outline: none;
  box-shadow: #07070b66 0 24px 57px 0;
  opacity: 1;
  transform: scale(1.05);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

/* Buttons Container */
.buttons-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.buttons-container a.button {
  margin: 8px;
}

a.button.text,
button.text {
  background-color: unset;
  border: 0;
  text-align: unset;
  font-size: inherit;
  margin: unset;
  padding: unset;
  white-space: normal;
  font-weight: bold;
  font-style: inherit;
  border-radius: unset;
  line-height: inherit;
  text-transform: none;
  color: var(--link-color);
}

a.button.text:hover,
button.text:hover {
  background-color: unset;
  color: var(--link-hover-color);
  box-shadow: none;
}

.offer-details .buttons-container {
  display: block;
}

.offer-details .button.text {
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
  margin-left: 10px;
}

.offer-details a.button.text {
  color: white;
  text-align: center;
}

.offer-details a.button.text:hover {
  text-decoration: underline;
}

.offer-details .button-container p {
  line-height: 1em;
  margin: 0;
}

.block.blog-breadcrumb {
  background: 0;
  color: var(--clr-black);
  font-size: 18px;
  margin: 0 auto;
  padding: 8px 10% 14px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.blog-breadcrumb .blog-breadcrumb-active-article {
  font-weight: 700;
  text-transform: uppercase;
}

a.blog-breadcrumb-link {
  color: var(--dark-grey-color);
}

.blog-breadcrumb span.icon-fw-arrow {
  width: unset;
  height: unset;
  margin: 0 14px;
  display: inline-block;
  font: normal normal normal 20px / 1 var(--font-awesome);
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blog-breadcrumb span.icon-fw-arrow::before {
  content: "\f105";
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main .section {
  padding: 0 16px;
  margin: 64px 0;
}

/* FAQ Section */
.section.tabs-container.accordion-container .default-content-wrapper {
  text-align: center;
}

.section.tabs-container.accordion-container .default-content-wrapper h3 {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: rgb(0 0 16);
}

/* CTA Banner Section */
.section.cta-banner {
  position: relative;
  text-align: center;
  color: #fff;
  margin: 0;
  height: fit-content;
}

.section.cta-banner .section {
  padding: 0;
}

.section.cta-banner .columns > div {
  width: unset;
}

.section.cta-banner .columns-wrapper {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  flex: 2 1 0%;
  padding: 1.25rem;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  color: #f5f5f6;
  height: 350px;
  overflow: hidden;
}

.section.cta-banner .columns.block {
  width: 100%;
  height: fit-content;
}

.section.cta-banner .blog-hero picture {
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.section.cta-banner .blog-hero img {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.section.wide-columns {
  margin: 0 auto;
  width: 80%;
  padding:0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.section.wide-columns .columns.block  div {
  margin-bottom: 50px;
}

.section.wide-columns .columns.block > div {
  flex-direction: column-reverse;
}


/* Section with Dark or Centered content */
.section.dark {
  background-color: var(--dark-background-color);
  color: var(--light-color);
  margin: 0;
  padding: 64px 8%;
}

.section.game-finder-container {
  margin: 0 auto;
  padding: 50px 0;
}

.section.game-finder-container .game-finder-wrapper
{
    width: 80%;
    margin: 0 auto; 
    padding-top: 10px;
}

/* stylelint-disable-next-line no-descending-specificity */
.section.game-finder-container > .default-content-wrapper > h2,
.section.game-finder-container > .default-content-wrapper > p
 {
  text-align:center;
  margin-bottom: 10px;
}

/* stylelint-disable-next-line no-descending-specificity */
.section.game-finder-container > .default-content-wrapper > h2 {
  font-size: 40px;
}

.section.game-finder-container > .default-content-wrapper > p {
  font-size:20px;
}

.section.dark-grey {
  background: #202230;
  color: var(--light-color);
  padding:50px 0;
  margin: 0;
}

.section.dark-grey > * {
  width: 80%;
  margin:0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* stylelint-disable-next-line no-descending-specificity */
.section.dark-grey > .default-content-wrapper h2:first-of-type { 
  margin-top:0;
  text-align: center;
  font-size: 2rem;
  line-height: 2.75rem;
  margin-bottom:50px;
}

.section.section.dark-grey .columns.block a {
  color: #0078ad;
}

.section.section.dark-grey .columns.block a:hover {
  color: #3abfed;
  text-decoration: none;
  cursor: pointer;
  transition: color .3s ease;
}

.section.dark-grey .columns.block h2,
.section.dark-grey .columns.block h3,  
.section.dark-grey .columns.block p
{
margin-bottom:10px;
}

.section.section.dark-grey .columns.block div {
  margin-bottom:15px;
}

.section.center {
  text-align: center;
}

/* specially for supported devices illustration */
.section.dark .section.dark {
  padding: 0;
}

.section.dark.center.columns-container span.icon:first-of-type {
  height: 103px;
  width: 180px;
}

.section.channel-shopper-container {
  color: var(--clr-white);
  background-image: url("/programming/media_1c6b2bbf60d3d28de0e2928d95253c9eafee63673.jpeg?dpr=off");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section.channel-shopper-container .columns-wrapper
{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
/* stylelint-disable-next-line no-descending-specificity */
.section.channel-shopper-container .columns.block > div {
  flex-direction: column-reverse;
}

.section.channel-shopper-container  .fragment-wrapper .section.channel-shopper-container {
  background: none;
 }

 .section.channel-shopper-container  .fragment-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
}

.section.tabs-container .tabs-wrapper {
  position: relative;
  z-index:-1
}


/* pakage cards sectio */
.section.package-cards-container
{
    margin: 100px auto;
    padding:0;
}

.section.package-cards-container .columns-wrapper
{
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    
}

/* stylelint-disable-next-line no-descending-specificity */
.section.package-cards-container .columns.block > div
{
  border-radius: 4px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 14%);
    padding: 40px;
    background-color: #fff;
}

.section.package-cards-container .columns.block > div > .fragment-wrapper
{
  align-self: flex-end;
    width: 80%;
}

.section.package-cards-container .columns.block > div > .fragment-wrapper + div
{
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}

.section.package-cards-container .columns.block > div > .fragment-wrapper + div > h2 {
  text-align: left;
}


.section.marquee-container {
  margin:0;
  padding:0;
  width: 100%;
}

@media (width >=768px) {
  main .section {
  padding: 0 48px;
  }

  /* CTA Banner Section */
  .section.cta-banner .columns-wrapper {
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
  }

  /* Section with Dark or Centered content */
  .section.center >* {
    max-width: 1200px;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .section.wide-columns .columns-wrapper {
    max-width: unset;
  }

  .section.dark {
    padding: 64px 32px;
  }

  .section.channel-shopper-container  .fragment-wrapper {
    flex-direction: row;
  }

   /* package cards desktop styles */

   .section.columns-container.package-cards-container.offer-details
   {
      margin:100px 0;
   }

   .section.package-cards-container .offer-details a.button.text {
     color: unset;
   }

    /* stylelint-disable-next-line no-descending-specificity */
  .section.wide-columns .columns.block  div {
    margin-bottom: 20px;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .section.wide-columns .columns.block > div {
    flex-direction: row;
  }

  .section.wide-columns .columns.block .columns-img-col {
    align-self: center;
  }

  .section.wide-columns .columns.block p {
    font-size: 1.125em;
    line-height: 1.5em;
    text-align: justify;
  }

  .section.dark-grey .columns.block div {
    margin-bottom: 0;
  }

  .section.channel-shopper-container .columns.block > div {
    flex-direction: row;
}

  .section.channel-shopper-container .columns-wrapper {
    width: 100%; 
    margin: unset;
    text-align: center;
}

.section.channel-shopper-container .columns-wrapper .fragment-wrapper
{
  text-align: justify;
}

.section.package-cards-container .columns.block > div { 
  flex-direction: column;
}


.section.dark-grey.columns-container .columns.block  {
width: 80%;
margin:0 auto;
}

.section.section.package-cards-container {
  margin:0;
}

/* stylelint-disable-next-line selector-class-pattern */
.section.package-cards-container #package-cards-app .hlmNfh 
{
  flex-direction: column;
    align-items: unset;
}

}

@media (width >=1024px) {
  /* CTA Banner Section */
  .section.cta-banner .columns-wrapper {
    padding: 5rem 6.25rem;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
  }

  .section.package-cards-container .columns.block > div {
    flex-direction: row; 
}


.section.dark-grey.columns-container .columns.block  {
  width: 60%;
  margin:0 auto;
  }


}

@media (width >=1540px) {

    /* stylelint-disable-next-line selector-class-pattern */
.section.package-cards-container #package-cards-app .hlmNfh 
{
  flex-direction: row;
    align-items: center;
}
 }

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}