/* main .hero-container > div {
  max-width: unset;
} */

main .blog-hero-container {
  padding: 0;
}

.blog-hero.category {
  text-align: center;
  padding: 0;
  margin-bottom: 10px;
  min-height: unset;
}

.blog-hero.category.purple {
  background: rgb(25 23 37);
  background: linear-gradient(290deg, rgb(25 23 37 / 100%) 25%, rgb(95 43 105 / 100%) 82%);
}

.blog-hero.category.cyan {
  background: rgb(25 23 37);
  background: linear-gradient(290deg, rgb(25 23 37 / 100%) 25%, rgb(25 81 118 / 100%) 82%);
}

.blog-hero.category.blue-orange {
  background: rgb(26 12 91);
  background: linear-gradient(290deg, rgb(124 54 20 / 100%) 25%, rgb(26 12 91 / 100%) 82%);
}

.blog-hero.category.gray {
  background: rgb(52 56 59);
  background: linear-gradient(290deg, rgb(41 43 45 / 100%) 25%, rgb(52 56 59 / 100%) 82%);
}

.blog-hero.category.blue {
  background: rgb(0 15 65);
  background: linear-gradient(290deg, rgb(0 50 174 / 100%) 25%, rgb(0 15 65 / 100%) 82%);
}

.blog-hero.category.tan {
  background: rgb(184 149 118);
  background: linear-gradient(290deg, rgb(25 23 37 / 100%) 25%, rgb(184 149 118/ 100%) 82%);
}

.blog-hero .hero-container h1 {
  text-align: center;
}

.blog-hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.blog-hero.category h1 {
  margin-top: 0;
  margin-bottom: 10px;
}

.blog-hero.category p {
  margin: 0;
}

.blog-hero.category > div {
  max-width: 1168px;
  margin: 0 auto;
}

.blog-hero.category > div > div {
  margin: 0 auto;
  width: 80%;
}

.blog-hero {
  position: relative;
  min-height: 300px;
}

/* CTA Banner Variation */
.cta-banner .blog-hero {
  padding: 0;
}

.blog-hero picture {
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.blog-hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.blog-hero picture.desktop {
  display: none;
}

.blog-hero picture.desktop.mobile {
  display: block;
}

@media (width >= 768px) {
  .blog-hero {
    position: relative;
    min-height: 200px;
  }

  .blog-hero picture.mobile {
    display: none;
  }

  .blog-hero picture.desktop,
  .blog-hero picture.desktop.mobile {
    display: block;
  }

  .blog-hero.category > div > div {
    width: 33%;
  }

  .cta-banner .blog-hero {
    max-height: 300px;
  }
}
