
.accordion-wrapper {
  margin: 0 auto;
  max-width: 780px;
  width: 66%;
}

.accordion .details {
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 1rem 0;
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion .details +.details {
  margin-top: 10px;
}

.accordion .details .summary {
  position: relative;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  display: flex;
  background-color: transparent;
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
  width: 100%;
  text-align: left;
  line-height: normal;
  margin: 0;
  color: rgb(23 23 37);
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: none;
  border-radius: 4px;
  transform: translate3d(0, 0, 0);
}

  /* If you want to add something for when the.details are open */

  .accordion .details.open .summary {
    font-weight: bold;
    transition: color 0.3s ease-in-out 0s;
  } 

  /* If you want to add something for focus/hover */

  /* .accordion.details.summary:focus,
  .accordion.details.summary:hover {
  } */

.accordion .details .summary::-webkit-details-marker {
  display: none;
}

.accordion .details .summary::before {
  content: "";
  position: relative;
  color: rgb(23 23 37);
  background: url("../../icons/accordion-arrow-down.svg") no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  transition: transform 0.3s ease 0s;
}

.accordion .details.open .summary::before {
  transform: translateY(-50%) rotate(-180deg);
  margin-top: 8px;
  transition: transform 0.3s ease 0s;
}

.accordion .details .summary p {
  margin: unset;
}

.accordion .details .accordion-item-body {
  text-align: left;
  padding-right: 4.25rem;
  height: auto;
  max-height: 0;
  overflow: hidden;
  padding-left: 30px;
  transition: max-height 500ms ease-in-out 0s;
}

.accordion .details.open .accordion-item-body {
  padding-right: 4.25rem;
  height: auto;
  max-height: 300px;
  overflow: hidden;
  padding-left: 30px;
  
  /* transition: max-height 500ms ease-in-out 0s; */
}

.accordion.details.open .accordion-item-body ul {
  margin-left: 40px;
}

.accordion.details.open .accordion-item-body ul li {
  padding: 0.5rem 0;
}

/* width greater than 768px */
@media (width >= 768px) {
  .accordion .details.open .accordion-item-body ul li {
    padding: 0.5rem 4rem 0.5rem 0;
  }
}